<div class="header_bg">

  <div class="wrapper">
    <div class="nav-wrap">
      <ul>
        <li class="btn btn-default"><%= link_to 'ランキングを見る',solvers_path %></li>
        <li class="btn btn-default"><%= link_to '応募する', new_solver_path %></li>
      </ul>
    </div>
  </div>

</div>

