<body>
	<div class="container">
		<header class="ccheader">
			<%= image_tag("logo1.png") %>
			<%= image_tag("logo2.png") %>
		</header>
		<div class="wrapper">
			<div class="orange">
				<p>解答を受け付けました。ご応募ありがとうございました！</p>
			</div>   
		</div>
	</div>
</body>