<div class="container">
  <div class="wrapper">

    <div class="ccheader">
      <%= image_tag("logo1.png") %>
      <%= image_tag("logo2.png") %>
    </div>

    <div class="orange result_wrap">
      <h1>ランキング</h1>

      <h2>一般部門</h2>
      <div class="result_summary">
        <%= render '/shared/ranking_list', solvers: @solvers %>
      </div>

      <h2>学生部門</h2>
      <div class="result_summary">
        <%= render '/shared/ranking_list', solvers: @student %>
      </div>
    </div>

  </div>
</div>
